@model List<AutoServiceMVC.Models.Product>
@{

}

<section class="ftco-section">
    <div class="container mt-5">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <span class="subheading">Discover</span>
                <h2 class="mb-4">Best Coffee Sellers</h2>
                <p>
                    A place where passion meets perfection. With dedication, attentive service, and a philosophy that places customer satisfaction above all else, we believe in delivering the finest experience to our customers through every product.
                </p>
            </div>
        </div>
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-md-3">
                    <div class="menu-wrap">
                        <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId" class="menu-img img mb-4" style="background-image: url(@item.ProductImage);"></a>
                        <div class="text text-center">
                            <h3><a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId" class="product-name">@item.ProductName</a></h3>
                            <div class="star-rating">
                                <div class="back-stars">
                                    <span class="star" aria-hidden="true"></span>
                                    <span class="star" aria-hidden="true"></span>
                                    <span class="star" aria-hidden="true"></span>
                                    <span class="star" aria-hidden="true"></span>
                                    <span class="star" aria-hidden="true"></span>

                                    <div class="front-stars" style="width: @(Convert.ToInt32(item.ProductRating/5*100))%">
                                        <span class="star" aria-hidden="true"></span>
                                        <span class="star" aria-hidden="true"></span>
                                        <span class="star" aria-hidden="true"></span>
                                        <span class="star" aria-hidden="true"></span>
                                        <span class="star" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                            <p class="price"><span class="product-price">@item.Price.ToString("N0") ₫</span></p>
                            <p><a id="addtocart" href="#" class="btn btn-primary btn-outline-primary add-to-cart" data-id="@item.ProductId">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>