@model IEnumerable<AutoServiceMVC.Models.Product>
@using AutoServiceMVC.Services;
@inject ICommonRepository<Category> categoryRepo

@{
	var categoryRs = await categoryRepo.GetAllAsync();
	var categories = categoryRs.Data as IEnumerable<Category> ?? new List<Category>();
}

<section class="ftco-menu mb-5 pb-5">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Discover</span>
				<h2 class="mb-4">Our Products</h2>
				<p>
					Discover Your Perfect Cup, Explore Endless Aromas.
				</p>
			</div>
		</div>
		<div class="row d-md-flex">
			<div class="col-lg-12 ftco-animate p-md-5">
				<div class="row">
					<div class="search-form col-md-12">
						<div class="form-group">
							<div class="icon">
								<span class="icon-search"></span>
							</div>
							<input type="text" class="form-control search-bar" onkeyup="loadProduct();" placeholder="Enter product name...">
						</div>
					</div>
					<div class="col-md-12 nav-link-wrap mb-5">
						<div class="nav ftco-animate nav-pills justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
							<a class="nav-link active" onclick="loadProduct(this);" data-categoryid="0">All</a>
							@foreach(var category in categories)
							{
								<a class="nav-link" onclick="loadProduct(this);" data-categoryid="@category.CategoryId">@category.CategoryName</a>
							}
						</div>
					</div>
					<div class="col-md-12">
						<div class="row text-center">
							@foreach(var item in Model)
							{
								<div class="col-md-3 col-6 text-center product-item" data-category="@item.CategoryId">
									<div class="menu-wrap">
										<a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId" class="menu-img img mb-4" style="background-image: url(@item.ProductImage);"></a>
										<div class="text">
											<h3><a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId" class="product-name">@item.ProductName</a></h3>
											<div class="star-rating">
												<div class="back-stars">
													<span class="star" aria-hidden="true"></span>
													<span class="star" aria-hidden="true"></span>
													<span class="star" aria-hidden="true"></span>
													<span class="star" aria-hidden="true"></span>
													<span class="star" aria-hidden="true"></span>

													<div class="front-stars" style="width: @(Convert.ToInt32(item.ProductRating/5*100))%">
														<span class="star" aria-hidden="true"></span>
														<span class="star" aria-hidden="true"></span>
														<span class="star" aria-hidden="true"></span>
														<span class="star" aria-hidden="true"></span>
														<span class="star" aria-hidden="true"></span>
													</div>
												</div>

												<small class="pl-2" style="font-size: 60%;"> @item.ProductRating</small>
											</div>
											<p class="price"><span class="product-price">@item.Price.ToString("N0") ₫</span></p>
											<p><a id="addtocart" href="#" class="btn btn-primary btn-outline-primary add-to-cart" data-id="@item.ProductId">Add to cart</a></p>
										</div>
									</div>
								</div>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
