@model IEnumerable<AutoServiceMVC.Models.OrderDetail>

@{
	ViewData["Title"] = "Payment";
	var ExistCart = Model != null;
	var IsLogin = User.Identity.IsAuthenticated && (User.Identity.AuthenticationType == "User_Scheme");
}

<section class="ftco-section ftco-cart">
	<div class="container mt-5">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section ftco-animate text-center">
				<span class="subheading">Payment</span>
				<h2 class="mb-4">Order it now</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<p id="emptyMessage" class="@(ExistCart ? "d-none" : "")">Cart is empty. Order at <a asp-controller="Order" asp-action="Index">Menu</a></p>

				@if (ExistCart)
				{
					<div class="cart-list" style="overflow-x: hidden;">
						@foreach (var item in Model)
						{
							<div class="text-center row order-item align-items-center" data-id="@item.Product.ProductId">

								<div class="image-prod col-md-3 order-item-info">
									<div class="img col-md-4" style="background-image:url(@item.Product.ProductImage);"></div>
								</div>

								<div class="product-name col-md-6 order-item-info">
									<h3>
										@item.Product.ProductName<i class="remove-payment-item icon-trash px-2 h5 text-white-50" style="cursor: pointer;"></i>
									</h3>
									<p class="price">@item.Product.Price.ToString("N0") ₫</p>
								</div>
								<div class="col-md-3 order-item-info">
									<div class="quantity">
										<div class="input-group d-flex mb-3">
											<span class="input-group-btn mr-2">
												<button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
													<i class="icon-minus"></i>
												</button>
											</span>
											<input type="text" id="quantity" name="quantity" class="form-control input-number" value="@item.Quantity" min="1" disabled>
											<span class="input-group-btn ml-2">
												<button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
													<i class="icon-plus"></i>
												</button>
											</span>
										</div>
									</div>

									<div class="productTotal">0 ₫</div>
								</div>
							</div>
						}
					</div>
				}
			</div>
		</div>
		<form id="goOrderForm" asp-controller="Order" asp-action="Payment" method="post">
			<div class="row justify-content-end">
					<div class="col-lg-9 col-md-6 mt-5">
						<div class="cart-total mb-3 row mx-0 d-flex">
							<div class="col-md-6">
								<div class="cart-detail text-left">
									<label class="mb-4">Payment Method</label>
									<div class="form-group">
										<div class="col-md-12 p-0">
											<div class="radio">
												<label><input type="radio" name="PaymentMethodId" value="3" class="mr-2" checked>VNPAY</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group text-left">
									<label>Note for order</label>
									<textarea name="Note" class="form-control" rows="5">@TempData["Note"]</textarea>
								</div>
							</div>
						@if(User.Identity.IsAuthenticated && User.Identity.AuthenticationType == "User_Scheme")
						{
							<div class="col-md-6">
								<div class="form-group text-left">
									<label>Enter coupon code</label>
									<input id="coupon-code" class="form-control" style="text-transform:uppercase;"/>
									<span class="coupon-loading sending"/>
									<input id="coupon-id" name="ApplyCouponId" type="hidden" />
								</div>
							</div>
						}
					</div>
					</div>

					<div class="col-lg-3 col-md-6 mt-5 cart-wrap ftco-animate">
						<div class="cart-total mb-3">
							<h3>Cart Totals</h3>
							<p class="d-flex">
								<span>Subtotal</span>
								<span class="subTotal">0 ₫</span>
							</p>
							<p class="d-flex">
								<span>Discount</span>
								<span class="discount">0 ₫</span>
							</p>
							<hr>
							<p class="d-flex total-price">
								<span>Total</span>
								<span class="total">0 ₫</span>
							</p>
						</div>
						<input id="input-total" type="hidden" name="Total"/> 
						<p class="text-center"><input type="submit" class="btn btn-primary py-3 px-4 paymentbutton" value="Payment"></input></p>
					</div>
			</div>
		</form>
	</div>
</section>


@section Scripts {
	<script src="~/js/user/payment.js"></script>
}