@model IEnumerable<AutoServiceMVC.Models.Product>
@inject ICommonRepository<Category> categoryService

@{
    ViewData["Title"] = "Menu";
    List<OrderDetail> cartList = ViewBag.Cart ?? new List<OrderDetail>();
    var result = await categoryService.GetAllAsync();
    var dropdownlist = new SelectList((IEnumerable<Category>)result.Data, "CategoryId", "CategoryName");
}

<header class="row tm-content-row">
    <div class="form-group col-xl-6 col-lg-6 col-md-12">
        <select id="categoryDropdown"
                asp-items="@dropdownlist"
                class="custom-select tm-select-accounts" style="background-color: #567086;">
            <option value="All">All category</option>
        </select>
    </div>

    <div class="shopping col-xl-6 col-lg-6 col-md-12">
        <i class="fas fa-shopping-cart" data-value="0"></i>
    </div>
</header>


<div class="list">
    @foreach(var item in Model)
    {
        <div class="item" data-category="@item.CategoryId">
            <img src="@item.ProductImage">
            <div class="title">@item.ProductName</div>
            <div class="price">@item.Price</div>
            <button class="btn btn-primary" onclick="addToCart(@item.ProductId, 1);">Add To Card</button>
        </div>
    }
</div>

@section Cart {
    <div class="card" id="cardVs">
        <h1>Card</h1>
        <ul class="listCard">
            @foreach(var item in cartList)
            {
                <li data-id="@item.ProductId">
                    <div class="left-container">
                        <div>@item.Product.ProductName</div>
                        <div class="order-price">@item.Product.Price</div>
                    </div>
                    <div class="right-container">
                        <button class="btn-dark" onclick="changeQuantity(@item.ProductId, 'minus')">-</button>
                        <div class="count">@item.Quantity</div>
                        <button class="btn-dark" onclick="changeQuantity(@item.ProductId, 'plus')">+</button>
                    </div>
                </li>
            }
        </ul>

        <form id="paymentForm" asp-area="Admin" asp-controller="Order" asp-action="Payment" method="post">
            <div class="form-group mb-3 m-5">
                <textarea id="Note" name="Note" class="form-control validate" rows="5" placeholder="Note here..."></textarea>
            </div>
        </form>

        <div class="checkOut">
            <div class="total" onclick="openModal()">0</div>
            <div class="closeShopping">Close</div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">You want to order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Total: <b id="total"></b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Close</button>
                    <button type="submit"
                            class="btn btn-success"
                            onclick="payment()">
                        Send order
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/admin/app.js"></script>

    <script>
        function openModal(){
            var total = document.getElementById("total");
            total.textContent = document.querySelector(".total").textContent;
            $("#orderModal").modal("show");
        }
        
        function closeModal(){
            $("#orderModal").modal("hide");
        }

        function payment(){
            $("#paymentForm").submit();
        }

        var dropdown = document.getElementById("categoryDropdown");
        dropdown.addEventListener("change", function () {
            var selected = dropdown.value;
            var productRows = document.getElementsByClassName("item");

            for (var i = 0; i < productRows.length; i++) {
                var row = productRows[i];
                var rowdata = row.getAttribute("data-category");

                if (selected === "All" || rowdata === selected) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            }
        });
    </script>
}