@model IEnumerable<AutoServiceMVC.Models.Product>
@inject ICommonRepository<Category> categoryService

@{
    ViewData["Title"] = "Menu";
    List<OrderDetail> cartList = ViewBag.Cart ?? new List<OrderDetail>();
    var result = await categoryService.GetAllAsync();
    var dropdownlist = new SelectList((IEnumerable<Category>)result.Data, "CategoryId", "CategoryName");
}

<div id="hideOrder">.</div>
<section id="order-sidebar" class="shadow vh-100 position-fixed bg-gradient-dark">
    <div class="h-100 position-relative">
        <section class="order-header h-auto" onclick="HideOrder();">
            <a class="text-decoration-none py-2 d-flex justify-content-between mb-0 bg-primary text-white h2">
                <i class="pl-3 fas fa-fw fa-angle-double-right"></i>
                <h4 class="mb-0 pr-3">
                    <span class="font-weight-bold">Cart Details</span>
                </h4>
            </a>
        </section>
        <ul class="order-list mt-4 mb-0 px-3" onclick="ChangeQuantity(event);">
            @foreach(var order in cartList)
            {
                <li class="list-group my-4 order-item">
                    <section class="text-decoration-none py-2 d-flex justify-content-between mb-0 text-white">
                        <div class="d-flex flex-column item-content">
                            <span class="product-id" style="display:none!important;">@order.ProductId</span>
                            <span class="item-name">@order.Product.ProductName</span>
                            <span class="item-price">@order.Product.Price.ToString("N0") ₫</span>
                        </div>
                        <div class="btn-group flex-shrink-1 item-action" role="group">
                            <button type="button" class="item-minus btn btn-secondary py-0 px-1">
                                <i class="fas fa-fw fa-minus-square"></i>
                            </button>
                            <button class="btn px-0 btn-secondary item-quantity">@order.Quantity</button>
                            <button type="button" class="item-plus btn btn-secondary py-0 px-1">
                                <i class="fas fa-fw fa-plus-square"></i>
                            </button>
                        </div>
                    </section>
                </li>
            }
        </ul>
        <section class="order-footer position-absolute w-100" style="bottom: 0;">
            <form id="paymentForm" asp-action="Payment" method="post">
                <div class="w-100 px-3 rounded-top">
                    <textarea class="w-100 rounded bg-gray-500 font-weight-bold text-dark p-3"
                                name="Note" id="order-note"
                                style="resize: none;" cols="30" rows="3" placeholder="Write order note..."></textarea>
                </div>
            </form>
            <a href="#" data-toggle="modal" data-target="#sendOrderModal"
               class="mt-3 text-decoration-none text-dark py-3 d-flex justify-content-between mb-0 bg-warning text-white h2">
                <i class="pl-3 fas fa-fw fa-money-check-alt"></i>
                <h4 class=" font-weight-bold align-self-center mb-0 pr-3"><span class="order-total">2.000.000</span></h4>
            </a>
        </section>
    </div>
</section>
<!-- End Order Sidebar -->
<!-- Begin Product List content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-flex align-items-center justify-content-between mb-4">
        <div class="form-group d-flex align-items-center mb-0">
            <select class="form-control"
                    asp-items="dropdownlist"
                    id="categoryDropdown">
                <option value="All">All Category</option>
            </select>
        </div>
        <div id="order-sidebar-btn" class="btn position-relative mr-3 mr-md-5">
            <i class="h3 mb-0 font-weight-bold fa fa-fw fa-cart-plus"></i>
            <span id="order-quantity" class="badge badge-danger position-absolute">2</span>
        </div>
    </div>

    <!-- Product List Section -->
    <section class="row product-list" onclick="AddToCart(event);">
        
        @foreach(var product in Model)
        {
            <div class="product-item col-xl-3 col-md-6 mb-4 item" data-category="@product.CategoryId">
                <div class="card border-left-warning shadow h-100">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col-12 text-center">
                                <img class="w-100 rounded" style="height: 216px;" src="@product.ProductImage"
                                     alt="@product.ProductName">
                            </div>
                        </div>
                        <div class="row no-gutters align-items-center mt-4">
                            <div class="col mr-2">
                                <input type="text" class="product-id" value="@product.ProductId" hidden>
                                <div class="product-name text-xs font-weight-bold mb-1 text-uppercase">
                                    @product.ProductName
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <span class="product-price">@product.Price.ToString("N0") ₫</span>
                                </div>
                            </div>
                            <div class="col-auto">
                                <span class="add-to-cart btn btn-warning font-weight-bold">
                                    Add <i class="fas fa-plus-circle"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </section>
</div>

<div class="modal fade" id="sendOrderModal" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="exampleModalLabel">Send Order now?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Total: <span class="order-total">20000</span></div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                <a class="btn btn-warning font-weight-bold" href="#" onclick="payment()">
                    Send Order <i class="fas fa-fw fa-forward"></i>
                </a>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/admin/menu.css"/>
}

@section Scripts {
    <script src="~/js/admin/menu.js"></script>

    <script>
        function payment(){
            $("#paymentForm").submit();
        }

        var dropdown = document.getElementById("categoryDropdown");
        dropdown.addEventListener("change", function () {
            var selected = dropdown.value;
            var productRows = document.getElementsByClassName("item");

            for (var i = 0; i < productRows.length; i++) {
                var row = productRows[i];
                var rowdata = row.getAttribute("data-category");

                if (selected === "All" || rowdata === selected) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            }
        });
    </script>
}