@model IEnumerable<AutoServiceMVC.Models.Order>
@inject ICommonRepository<Status> statusService
@{
    ViewData["Title"] = "Order";
    var result = await statusService.GetAllAsync();
    var dropdownlist = new SelectList((IEnumerable<Status>)result.Data, "StatusId", "StatusName");
}

<div class="row tm-content-row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="form-group mb-3">
                <label for="statusDropdown">Status</label>
                <select id="statusDropdown"
                        asp-items="@dropdownlist"
                        class="custom-select tm-select-accounts">
                    <option value="All">All order</option>
                </select>
            </div>
            <div id="dataContainer" class="tm-product-table-container">
                <table class="table table-hover tm-table-small tm-product-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Table)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Employee)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="item" data-status="@item.Status.StatusId">
                                <td scope="col">
                                    <a asp-action="Details" asp-route-id="@item.OrderId"
                                       class="text-reset text-decoration-none">
                                        @Html.DisplayFor(modelItem => item.CreatedAt)
                                    </a>
                                </td>
                                <td scope="col">
                                    @Html.DisplayFor(modelItem => item.Table.TableName)
                                </td>
                                <td scope="col">
                                    @Html.DisplayFor(modelItem => item.User.FullName)
                                </td>
                                <td scope="col">
                                    @Html.DisplayFor(modelItem => item.Employee.FullName)
                                </td>
                                <td scope="col">
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td scope="col">
                                    <div class="tm-status-circle @item.Status.StatusName.ToLower()"></div>
                                    <span>@Html.DisplayFor(modelItem => item.Status.StatusName)</span>
                                </td>
                                <td scope="col">
                                    <a href="#" class="tm-product-delete-link @((item.Status.StatusId > 3) ? "achor-disable" : "")" 
                                    title="Update status" onclick="updatestatus(@item.OrderId, this);">
                                        <i class="fas fa-arrow-up tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var dropdown = document.getElementById("statusDropdown");

        function loadContent(){
            var selected = dropdown.value;
            var productRows = document.getElementsByClassName("item");

            for (var i = 0; i < productRows.length; i++) {
                var row = productRows[i];
                var rowdata = row.getAttribute("data-status");

                if (selected === "All" || rowdata === selected) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            dropdown.addEventListener("change", loadContent);
        });

        function updatestatus(orderId, clickedItem) {
            $.ajax({
                url: '/Admin/Order/UpdateStatus',
                type: 'POST',
                data: { orderId: orderId },
                success: function (response) {
                    console.log('Update status!');

                    var row = clickedItem.closest(".item");

                    console.log(response);

                    row.setAttribute("data-status", response.statusId);
                    var statusCell = row.querySelector(".tm-status-circle");
                    var statusText = row.querySelector("span");

                    // Update the status circle and status text
                    statusCell.className = "tm-status-circle " + response.statusName.toLowerCase();
                    statusText.textContent = response.statusName;

                    if(response.statusId > 3){
                        row.querySelector(".tm-product-delete-link").className += " achor-disable";
                    }

                    loadContent();
                },
                error: function (xhr, status, error) {
                    // Handle the error response
                    console.log('Error update status: ' + error);
                }
            });
        }
    </script>
}