@model IEnumerable<AutoServiceMVC.Models.Order>
@inject ICommonRepository<Status> statusService
@{
    ViewData["Title"] = "Order";
    var result = await statusService.GetAllAsync();
    var dropdownlist = new SelectList((IEnumerable<Status>)result.Data, "StatusId", "StatusName");
}

<div class="row tm-content-row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="form-group mb-3">
                <label for="statusDropdown">Status</label>
                <select id="statusDropdown"
                        asp-items="@dropdownlist"
                        class="custom-select tm-select-accounts">
                    <option value="All">All order</option>
                </select>
            </div>
            <div class="tm-product-table-container">
                <table class="table table-hover tm-table-small tm-product-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Table)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Employee)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="item" data-status="@item.Status.StatusId">
                                <td scope="col">
                                    <a asp-action="Details" asp-route-id="@item.OrderId"
                                       class="text-reset text-decoration-none">
                                        @Html.DisplayFor(modelItem => item.CreatedAt)
                                    </a>
                                </td>
                                <td scope="col">
                                    @Html.DisplayFor(modelItem => item.Table.TableName)
                                </td>
                                <td scope="col">
                                    @Html.DisplayFor(modelItem => item.User.FullName)
                                </td>
                                <td scope="col">
                                    @Html.DisplayFor(modelItem => item.Employee.FullName)
                                </td>
                                <td scope="col">
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td scope="col">
                                    <div class="tm-status-circle @item.Status.StatusName.ToLower()"></div>
                                    <span>@Html.DisplayFor(modelItem => item.Status.StatusName)</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var dropdown = document.getElementById("statusDropdown");
            dropdown.addEventListener("change", function () {
                var selected = dropdown.value;
                var productRows = document.getElementsByClassName("item");

                for (var i = 0; i < productRows.length; i++) {
                    var row = productRows[i];
                    var rowdata = row.getAttribute("data-status");

                    if (selected === "All" || rowdata === selected) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                    }
                }
            });
        });
    </script>
}