@model IEnumerable<AutoServiceMVC.Models.Order>
@{
    var statusId = Convert.ToInt16(ViewData["StatusId"]);
    var statusname = ViewData["StatusName"];
    ViewData["Title"] = $"{statusname} Orders";
}

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-column flex-md-row justify-content-between ">
        <h6 class="align-self-center m-0 font-weight-bold text-primary">@statusname Orders List</h6>
        <div class="text-center text-md-right">
            <a class="btn btn-primary my-1" asp-controller="Bill" asp-action="Index" asp-route-id="1">
                Sent
                @if(statusId == 1)
                {
                   <span class="badge badge-light">@Model.Count()</span>
                }
            </a>
            <a class="btn btn-primary my-1" asp-controller="Bill" asp-action="Index" asp-route-id="2">
                Received
                @if(statusId == 2)
                {
                   <span class="badge badge-light">@Model.Count()</span>
                }
            </a>
            <a class="btn btn-primary my-1" asp-controller="Bill" asp-action="Index" asp-route-id="3">
                Processing
                @if(statusId == 3)
                {
                   <span class="badge badge-light">@Model.Count()</span>
                }
            </a>
            <a class="btn btn-primary my-1" asp-controller="Bill" asp-action="Index" asp-route-id="4">
                Done
                @if(statusId == 4)
                {
                   <span class="badge badge-light">@Model.Count()</span>
                }
            </a>
            <a class="btn btn-primary my-1" asp-controller="Bill" asp-action="Index" asp-route-id="5">
                Cancelled
                @if(statusId == 5)
                {
                   <span class="badge badge-light">@Model.Count()</span>
                }
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Table)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Employee)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>
                        <th>
                            Status
                        </th>
                        @if(statusId < 4)
                        {
                            <th class="text-center">
                                Action
                            </th>
                        }
                    </tr>
                </thead>
                <tbody id="data-container">
                    @foreach (var item in Model)
                    {
                        <tr class="item">
                            <td>
                                <a asp-action="Details" asp-route-id="@item.OrderId"
                                   class="font-weight-bold">
                                    @Html.DisplayFor(modelItem => item.OrderId)
                                </a>
                            </td>
                            <td scope="col">
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td scope="col">
                                @Html.DisplayFor(modelItem => item.TableName)
                            </td>
                            <td scope="col">
                                @Html.DisplayFor(modelItem => item.User.FullName)
                            </td>
                            <td scope="col">
                                @Html.DisplayFor(modelItem => item.Employee.FullName)
                            </td>
                            <td scope="col">
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td scope="col">
                                <span class="@item.Status.StatusName.ToLower()">@Html.DisplayFor(modelItem => item.Status.StatusName)</span>
                            </td>
                            @if (statusId < 4)
                            {
                                <td class="text-center">
                                    <button class="btn btn-circle btn-secondary tm-product-delete-link" @((item.Status.StatusId > 3) ? "disabled" : "")
                                            title="Update status" onclick="updatestatus(@item.OrderId, this);">
                                        <i class="fas fa-arrow-up tm-product-delete-icon"></i>
                                    </button>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function updatestatus(orderId, clickedItem) {
            $.ajax({
                url: '/Admin/Order/UpdateStatus',
                type: 'POST',
                data: { orderId: orderId },
                success: function (response) {
                    showToast('Update success!');
                    var row = clickedItem.closest(".item");
                    row.remove();
                },
                error: function (xhr, status, error) {
                    showToast('Update fail!');
                }
            });
        }
    </script>
}