@model IEnumerable<AutoServiceMVC.Models.User>
@{
    ViewData["Title"] = "User";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">User List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Point)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserType)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="item" data-type="@item.UserTypeId">
                            <td>
                                <a asp-action="Details" asp-route-id="@item.UserId"
                                   class="font-weight-bold">
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Point)
                            </td>
                            <td>
                                @item.UserType.UserTypeName
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>