@model IEnumerable<AutoServiceMVC.Models.Employee>
@{
    ViewData["Title"] = "Employee Management";
}

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-column flex-md-row justify-content-between">
        <div class="h6 font-weight-bold text-primary align-self-center">Employee List</div>
        <a asp-area="Admin" asp-controller="Auth" asp-action="Register" class="d-flex justify-content-between btn btn-success btn-icon-split">
            <span class="text">Create</span>
            <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
            </span>
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Role)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td scope="col">
                                <a asp-action="Details" asp-route-id="@item.EmployeeId"
                                   class="text-reset text-decoration-none">
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </a>
                            </td>
                            <td scope="col">
                                @Html.DisplayFor(modelItem => item.Role.RoleName)
                            </td>
                            <td scope="col">
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td scope="col">
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td scope="col">
                                @if (item.EndDate < DateTime.Now)
                                {
                                    <div class="tm-status-circle ended"></div>
                                    <span class="text-danger">Ended</span>
                                }
                                else
                                {
                                    <div class="tm-status-circle working"></div>
                                    <span class="text-success">Working</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>