@model AutoServiceMVC.Models.Order

@{
	ViewData["Title"] = "Order Detail";
	var SubAmount = 0;

	foreach(var item in Model.OrderDetails)
	{
		SubAmount += item.Product.Price * item.Quantity;
	}
}

<section class="ftco-section ftco-cart">
	<div class="container mt-5">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section ftco-animate text-center">
				<span class="subheading">Bill</span>
				<h2 class="mb-4">Thanks for your order!</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="cart-list" style="overflow-x: hidden;">
					@foreach (var item in Model.OrderDetails)
					{
						<div class="text-center row order-item align-items-center" data-id="@item.Product.ProductId">
							<div class="image-prod col-md-3 order-item-info">
								<div class="img col-md-4" style="background-image:url(@item.Product.ProductImage);"></div>
							</div>

							<div class="product-name col-md-6 order-item-info">
								<h3>@item.Product.ProductName</h3>
								<p class="price">@item.Product.Price.ToString("N0") ₫</p>
							</div>
							<div class="col-md-3 order-item-info">
								<div class="quantity">
									<div class="input-group d-flex mb-3">
										<input type="text" id="quantity" name="quantity" class="form-control input-number" 
										value="@item.Quantity" disabled>
									</div>
								</div>

								<div class="productTotal">@((item.Quantity * item.Product.Price).ToString("N0")) ₫</div>
							</div>
							@if ( Model.Status.StatusId == 4 && (!Model.ProductFeedbacks?.Any(pf => pf.ProductId == item.ProductId) ?? true))
							{
								<div class="col-md-12 py-3 text-right">
									<button type="button" class="btn btn-primary py-2 px-3" style="color: #fff !important;">Feedback for 200 point</button>
								</div>
							}
						</div>
					}
				</div>
			</div>
		</div>
		<div class="row justify-content-end">
			<div class="col-lg-9 col-md-6 mt-5">
				<div class="cart-total mb-3 row d-flex">
					<div class="col-md-6">
						<div class="cart-detail text-left">
							<label class="mb-4">Payment Method</label>
							<div class="form-group">
								<div class="col-md-12 p-0">
									<div class="radio">
										<label><input type="radio" name="PaymentMethodId" value="3" class="mr-2" checked disabled>VNPAY</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group text-left">
							<label>Note for order</label>
							<textarea name="Note" class="form-control" rows="5" disabled>@Model.Note</textarea>
						</div>
					</div>
					@if (Model.ApplyCouponId != null)
					{
						<div class="col-md-6">
							<div class="form-group text-left">
								<label>Enter coupon code</label>
								<input id="coupon-code" class="form-control" style="text-transform:uppercase;"
								value="@Model.ApplyCoupon.CouponCode" disabled />
							</div>
						</div>
					}
				</div>
			</div>

			<div class="col-lg-3 col-md-6 mt-5 cart-wrap ftco-animate">
				<div class="cart-total mb-3">
					<h3>Cart Totals</h3>
					<p class="d-flex">
						<span>Subtotal</span>
						<span class="subTotal">@SubAmount.ToString("N0") ₫<span>
					</p>
					<p class="d-flex">
						<span>Discount</span>
						<span class="discount">@((SubAmount - Model.Amount).ToString("N0")) ₫</span>
					</p>
					<hr>
					<p class="d-flex total-price">
						<span>Total</span>
						<span class="total">@Model.Amount.ToString("N0") ₫</span>
					</p>
				</div>
				@if (Model.Status.StatusId < 3)
				{
					<p class="text-center"><a href="#" id="cancelButton" class="btn btn-danger py-3 px-4">Cancel order</a></p>
				}
			</div>
		</div>
	</div>
</section>

@section Scripts {
	<script>
		var cancelButton = document.getElementById("cancelButton");

		cancelButton.addEventListener("click", e => {
			e.preventDefault();

			$.confirm({
				title: 'Cancel order',
				content: 'You really want to cancel this order?<br>After cancel, go to staff to receive money.',
				buttons: {
					confirm: {
						text: "Cancel now",
						btnClass: 'btn-orange',
						keys: ['enter'],
						action: function () {
							window.location.assign("@Url.Action("CancelOrder", "Bill", new {id = Model.OrderId})")
						}
					},
					cancel: function () {
						showToast("Cancelled confirm.")
					}
				}
			});
		})
	</script>
}