@model IEnumerable<AutoServiceMVC.Models.Order>

@{
    ViewData["Title"] = "My Order";
}

<section class="ftco-section">
    <div class="container mt-5">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <span class="subheading">Bills</span>
                <h2 class="mb-4">Drink all of it</h2>
                @if ((Model == null) || (Model.Count() == 0))
                {
                    <p>No order now. Lets make first order at <a asp-controller="Order" asp-action="Index">Menu</a></p>
                }
                else
                {
                    <p>SelfCoffee send thanks for all of your orders.</p>
                }
            </div>
        </div>
        <div class="container" style="overflow-y: auto; max-height: 800px;">
            @foreach(var item in Model)
            {
                <div class="row p-3">
                    <div class="container">
                        <div class="historyRow row py-3 rounded text-left font-weight-bold">
                            <section class="col-12 d-flex justify-content-between text-dark">
                                <div>Table: <span class="total-cost text-dark">@item.Table.TableName</span></div>
                                <div class="font-weight-light">Date: <span class="bill-date text-dark">@item.CreatedAt</span></div>
                            </section>
                            <section class="col-12 d-flex justify-content-between text-dark">
                                <div>Code: <span class="bill-date text-dark">@item.OrderId</span></div>
                                <div class="font-weight-light">Total cost: <span class="total-cost text-dark">@item.Amount.ToString("N0") ₫</span></div>
                            </section>
                            <div class="col-12 progress-bar-wrapper my-3">
                                @if(item.Status.StatusId < 5)
                                {
                                    <ul class="progressbar p-0 d-flex justify-content-center m-0">
                                        <li class="@(item.OrderStatuses.Any(os => os.StatusId == 1) ? "active" : "")">
                                            <i class="progress-icon icon-send"></i>
                                            <span>Send</span>
                                        </li>
                                        <li class="@(item.OrderStatuses.Any(os => os.StatusId == 2) ? "active" : "")">
                                            <i class="progress-icon h6 icon-get-pocket"></i>
                                            <span>Receive</span>
                                        </li>
                                        <li class="@(item.OrderStatuses.Any(os => os.StatusId == 3) ? "active" : "")">
                                            <i class="progress-icon h6 icon-local_cafe"></i>
                                            <span>In Progress</span>
                                        </li>
                                        <li class="@(item.OrderStatuses.Any(os => os.StatusId == 4) ? "active" : "")">
                                            <i class="progress-icon h6 ion-md-cloud-done"></i>
                                            <span>Done</span>
                                        </li>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="progressbar p-0 d-flex justify-content-center m-0">
                                        <li class="@(item.OrderStatuses.Any(os => os.StatusId == 1) ? "cancel" : "")">
                                            <i class="progress-icon icon-send"></i>
                                            <span>Send</span>
                                        </li>
                                        @if (item.OrderStatuses.Any(os => os.StatusId == 2))
                                        {
                                            <li class="cancel">
                                                <i class="progress-icon h6 icon-get-pocket"></i>
                                                <span>Receive</span>
                                            </li>
                                        }
                                        <li class="cancel">
                                            <i class="progress-icon h6 icon-cancel"></i>
                                            <span>Cancel</span>
                                        </li>
                                    </ul>
                                }
                            </div>
                            <div class="col-12 view-comment d-flex justify-content-end">
                                @{
                                    var OrderDays = (DateTime.Now - item.CreatedAt).Days;
                                    var CanFeedback = (OrderDays < 2) && ((item.ProductFeedbacks?.Count ?? 0) < item.OrderDetails.Count);
                                }

                                <a asp-controller="Bill" asp-action="Details" asp-route-id="@item.OrderId" class="btn btn-primary">@(CanFeedback ? "View & Feedback" : "View")</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Styles {
    <link rel="stylesheet" href="~/css/user/process.css"/>
}