@model AutoServiceMVC.Models.Product
@inject ICommonRepository<Category> categoryService
@using System.Security.Claims

@{
    ViewData["Title"] = "Edit Product";
    var result = await categoryService.GetAllAsync();
    var dropdownlist = new SelectList((IEnumerable<Category>)result.Data, "CategoryId", "CategoryName");
    var role = User.FindFirstValue(ClaimTypes.Role);
}

<div class="row mb-5">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
                <div class="col-12">
                    <h2 class="tm-block-title d-inline-block">Product detail</h2>
                </div>
            </div>
            <form asp-action="Edit" class="tm-edit-product-form" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-white"></div>
                    <input type="hidden" asp-for="ProductId" />
                    <input type="hidden" asp-for="ProductImage" />
                    <div class="row tm-edit-product-row">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                                <div class="form-group mb-3">
                                    <label asp-for="ProductName"></label>
                                    <input asp-for="ProductName" class="form-control validate">
                                    <span asp-validation-for="ProductName" class="text-white"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="ProductDescription"></label>
                                    <textarea asp-for="ProductDescription" class="form-control validate" rows="5"></textarea>
                                    <span asp-validation-for="ProductDescription" class="text-white"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="Price"></label>
                                    <input asp-for="Price" class="form-control validate">
                                    <span asp-validation-for="Price" class="text-white"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label asp-for="CategoryId">Category</label>
                                    <select asp-for="CategoryId" 
                                            asp-items="@dropdownlist" 
                                            class="custom-select tm-select-accounts">
                                    </select>
                                </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                            <div class="tm-product-img-dummy mx-auto">
                                @if(Model.ProductImage != string.Empty)
                                {
                                    <img id="preview" src="@Model.ProductImage" alt="Product image" class="img-fluid d-block mx-auto">
                                }else{
                                    <img id="preview" src="#" alt="Product image" class="img-fluid mx-auto" style="display:none;">
                                    <i id="upload" class="fas fa-cloud-upload-alt tm-upload-icon" onclick="document.getElementById('fileInput').click();"></i>
                                }
                            </div>

                            @if(role == "Admin")
                            {
                                <div class="custom-file mt-3 mb-3">
                                    <input id="fileInput" type="file" name="imageFile" style="display:none;" onchange="previewImage(event)">
                                    <input type="button" class="btn btn-primary btn-block mx-auto" value="CHANGE IMAGE NOW" onclick="document.getElementById('fileInput').click();">
                                </div>
                            }
                        </div>
                        @if(role == "Admin"){
                            <div class="col-12 mb-3">
                                <button type="submit" class="btn btn-primary btn-block text-uppercase">Update now</button>
                            </div>

                            <div class="col-12">
                                <button type="button" class="btn btn-danger btn-block text-uppercase"
                                        data-toggle="modal" data-target="#deleteModal">
                                    Delete
                                </button>
                            </div>
                        }
                    </div>

                <!-- Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Are you sure?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                You want to delete product <b>@Model.ProductName</b>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button asp-action="Delete" asp-route-id="@Model.ProductId"
                                        class="btn btn-danger">
                                    Sure, Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
        </div>
    </div>
</div>

<div class="row tm-content-row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
        <div class="tm-bg-primary-dark tm-block">
            <div class="tm-product-table-container">
                <table class="table tm-table-small tm-product-table">
                    <thead>
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col" colspan="30%">Comment</th>
                            <th scope="col">Rating</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model.ProductFeedbacks)
                        {
                            <tr>
                                <td class="nameUser">@item.User</td>
                                <td colspan="30%">
                                    <p class="feedbacks">
                                        @item.Comment
                                    </p>
                                </td>
                                <td>
                                    <div class="rating">
                                        @for (int i = 0; i < 5; i++)
                                        {
                                            <i class="fas fa-star @(i < item.Rating ? "rating-star" : "")"></i>
                                        }
                                    </div>
                                </td>
                                <td>
                                    @*Call Api*@
                                    <a href="#" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function updateStock(productId){
            $.ajax({
                url: '/Admin/Product/UpdateStock',
                type: 'POST',
                data: { productId: productId},
                success: function (response) {
                    console.log('Update status!');
                },
                error: function (xhr, status, error) {
                    // Handle the error response
                    console.log('Error update status: ' + error);
                }
            });
        }
    </script>
}
