@model IEnumerable<AutoServiceMVC.Models.Coupon>
@using System.Security.Claims

@{
    ViewData["Title"] = "Coupon Management";
    var role = User.FindFirstValue(ClaimTypes.Role);
}

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-column flex-md-row justify-content-between">
        <div class="h5 font-weight-bold text-primary align-self-center">Coupon Management</div>
        @if (role == "Admin")
        {
            <a asp-action="Create" class="d-flex justify-content-between btn btn-success btn-icon-split mt-2">
                <span class="text">Create</span>
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
            </a>
        }
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CouponCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Remain)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PointAmount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartAt)
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="item"
                            data-status="@((item.StartAt > DateTime.Now || item.EndAt < DateTime.Now) ? "ended" : "using")">
                            <td scope="col">
                                <a asp-action="Details" asp-route-id="@item.CouponId"
                                   class="font-weight-bold">
                                    @Html.DisplayFor(modelItem => item.CouponCode)
                                </a>
                            </td>
                            <td scope="col">
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                            <td scope="col">
                                @Html.DisplayFor(modelItem => item.Remain)
                            </td>
                            <td scope="col">
                                @Html.DisplayFor(modelItem => item.PointAmount)
                            </td>
                            <td scope="col">
                                @Html.DisplayFor(modelItem => item.StartAt)
                            </td>
                            <td scope="col">
                                @if ((item.Remain != null && item.Remain < 1) || (item.StartAt > DateTime.Now || item.EndAt < DateTime.Now))
                                {
                                    <span class="text-danger">Not Public</span>
                                }
                                else
                                {
                                    <span class="text-success">Public</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>