@model IEnumerable<AutoServiceMVC.Models.PointTrading>

@{
    ViewData["Title"] = "Point Traded";
}

<section class="ftco-section">
	<div class="container mt-5">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section ftco-animate text-center">
				<span class="subheading">Point</span>
				<h2 class="mb-4">Traded History</h2>
			</div>
		</div>
		<div class=" row coupon-section">
            <div class="start-page col-12">
                <div class="history-header">
                    <h3>Your point: @ViewData["userPoint"] <img width="50" src="~/images/coin.png" style="padding-right: 15px;"></h3>
                </div>
                <div class="hispoint">
                    @if(Model != null && Model.Count() > 0)
                    {
                        @foreach (var item in Model)
                        {
                            var isPosNumber = item.Point > 0;

                            <div class="row content-hispoint @(isPosNumber ? "positive" : "negative")">
                                <div class="col-md-2 col-2 icon-hispoint">
                                    <img src="~/images/@(isPosNumber ? "plus" : "minus").png">
                                </div>
                                <div class="col-md-6 col-6 title-hispoint">
                                    <h4>@item.TradeDescription</h4>
                                    <p>@item.TradedAt.ToString("HH:mm - dd/MM/yyyy")</p>
                                </div>
                                <div class="col-md-4 col-4 number-point">
                                    <p>@item.Point.ToString("+0;-0")</p>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No trade now. Lets buy to get point and return here.</p>
                    }
                </div>
            </div>
		</div>
	</div>
</section>

@section Styles {
    <link rel="stylesheet" href="~/css/user/pointtrade.css"/>
}