@model IEnumerable<AutoServiceMVC.Models.ServiceFeedback>
@{
    ViewData["Title"] = "Service Feedback";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Service Feedback</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-responsive table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comment)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @item.CreatedAt
                        </td>
                        <td>
                            @item.User.FullName
                        </td>
                        <td>
                            @item.Comment
                        </td>
                        <td>
                            @if(item.Image != null)
                            {
                                <img src="@item.Image"
                                        alt="Feedback image" class="img-fluid d-block mx-auto" style="max-width: 400px">
                            }else{
                                @:&nbsp;
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

